.code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #00a5e6;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.camera {
  display: flex;
  flex-direction: row;
}

button {
  margin: 5px;
  border: 0;
  background: #00a5e6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
}
